@mixin button($color){
	outline-color:$color;
	cursor: pointer;
	border-radius: 3px;
	display: inline-block;
	padding: $form-font-size/2 $form-font-size $form-font-size/2 $form-font-size;
	
	@include gradient(lighten($color,5%), $color);
	
	border-top: 1px solid darken($color,15%);
	border-left: 1px solid darken($color,20%);
	border-right: 1px solid darken($color,20%);
	border-bottom: 1px solid darken($color,25%);
	
	&:hover{
		@include gradient(lighten($color,15%), lighten($color,5%));
	}
	
	&:active{
		@include gradient(saturate($color,5%),darken($color,5%));
	}
	
	&:focus{
		background: lighten($color,10%);
	}
	
	
	&:disabled, &.disabled{
		background: lighten($color,10%);;
	}
	
	
	@include respond-to(handhelds) { width: 100%}

}



button, 
input[type="button"], 
input[type="submit"],
.button{
	color: #fff;
	@include button($color-blue);
	@include font-size($form-font-size);
	&.success{
		@include button($color-green);
	}
	
	&.error{
		@include button($color-red);
	}
	
	&.secondary{
		color: #444;
		@include button($color-grey);
	}
	
	&.small{
		@include font-size($form-font-size/1.2);
	}
	
	&.medium{
		@include font-size($form-font-size);
	}
	
	&.big{
		@include font-size($form-font-size*1.2);
	}
	
	&.full-width{
		width: 100%;
	}
}