form, select, button, textarea, input, label{@include font-size($form-font-size)}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="text"],
textarea{
	width: 100%;
	padding: $form-font-size/2;
	border-radius: 3px;
	border:2px solid $color-grey;
	background: #fff;
	margin: $gutter-width 0 $gutter-width 0;
	@include boxSizing;
	font-style: italic;

	&.invalid{
		border: 2px solid $color-red;
	}

	&.valid{
		border: 2px solid $color-green;
	}

	&:disabled{
		background: $color-grey;
	}

	&:focus{
		font-style: normal;
		border: 2px solid $color-blue;
		outline: none;
		border-radius: 3px;
	}
}

fieldset{
	padding: $gutter-width;
	border-radius: 3px;
	border:2px solid #ddd;
	background: #fff;
	@include boxSizing;

	legend{
		padding: 0 $gutter-width 0 $gutter-width;
	}
}
form{
	margin: 0;
}
select{@include font-size($form-font-size)}
button{@include font-size($form-font-size)}
textarea{
	max-width: 100%;
	min-height: $form-font-size*3;
}