
$break-small: 480px;
$break-large: $grid-width;

@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: $break-large) { @content; }
	}
}
body{
	width: 100%;
}
.container{
	max-width: 100%;
	width: $grid-width;
	
	.container{width: 100%;}
	
	@include clearfix;
	margin: 0 auto;
	clear: both;

	@include respond-to(handhelds) { width: 100%}
	@include respond-to(medium-screens) { width: 100%}
	@include respond-to(wide-screens) { width: $grid-width}
	.block{
		@include boxSizing;
		@include clearfix;
		float: left;
		display: block;
		padding: 0 $gutter-width/2 0 $gutter-width/2;

		&:last-child{
			float:right;
		}
		
		&.one{width: 8.33333333333%;}
		&.two{width: 16.6666666667%;}
		&.three{width: 25%;}
		&.four{width: 33.3333333333%;}
		&.five{width: 41.6666666667%;}
		&.six{width: 50%;}
		&.seven{width: 58.3333333333%;}
		&.eight{width: 66.6666666667%}
		&.nine{width: 75%;}
		&.ten{width: 83.3333333333%;}
		&.eleven{width: 91.6666666667%;}
		&.twelve{width: 100%;}
		&.right{float:right;}
		
		&.one,&.two,&.three,&.four,&.five,&.six,&.seven,&.eight,&.nine,&.ten,&.eleven,&.twelve{
			@include respond-to(handhelds) { 
			
			width: 100%;
			
			&.offset-by-one, 
			&.offset-by-two,
			&.offset-by-three,
			&.offset-by-four,
			&.offset-by-five,
			&.offset-by-six,
			&.offset-by-seven,
			&.offset-by-eight,
			&.offset-by-nine,
			&.offset-by-ten,
			&.offset-by-eleven,
			&.offset-by-twelve{margin-left: 0%;}
			}
		}
		
		&.mobile-one{width: 8.33333333333%;}
		&.mobile-two{width: 16.6666666667%;}
		&.mobile-three{width: 25%;}
		&.mobile-four{width: 33.3333333333%;}
		&.mobile-five{width: 41.6666666667%;}
		&.mobile-six{width: 50%;}
		&.mobile-seven{width: 58.3333333333%;}
		&.mobile-eight{width: 66.6666666667%}
		&.mobile-nine{width: 75%;}
		&.mobile-ten{width: 83.3333333333%;}
		&.mobile-eleven{width: 91.6666666667%;}
		&.mobile-twelve{width: 100%;}
		
		&.mobile-one, 
		&.mobile-two,
		&.mobile-three,
		&.mobile-four,
		&.mobile-five,
		&.mobile-six,
		&.mobile-seven,
		&.mobile-eight,
		&.mobile-nine,
		&.mobile-ten,
		&.mobile-eleven,
		&.mobile-twelve{
			&.offset-by-one{margin-left: 8.33333333333%;}
			&.offset-by-two{margin-left: 16.6666666667%;}
			&.offset-by-three{margin-left: 25%;}
			&.offset-by-four{margin-left: 33.3333333333%;}
			&.offset-by-five{margin-left: 41.6666666667%;}
			&.offset-by-six{margin-left: 50%;}
			&.offset-by-seven{margin-left: 58.3333333333%;}
			&.offset-by-eight{margin-left: 66.6666666667%}
			&.offset-by-nine{margin-left: 75%;}
			&.offset-by-ten{margin-left: 83.3333333333%;}
			&.offset-by-eleven{margin-left: 91.6666666667%;}
			&.offset-by-twelve{margin-left: 100%;}
		}
		
		
		&.offset-by-one{margin-left: 8.33333333333%;}
		&.offset-by-two{margin-left: 16.6666666667%;}
		&.offset-by-three{margin-left: 25%;}
		&.offset-by-four{margin-left: 33.3333333333%;}
		&.offset-by-five{margin-left: 41.6666666667%;}
		&.offset-by-six{margin-left: 50%;}
		&.offset-by-seven{margin-left: 58.3333333333%;}
		&.offset-by-eight{margin-left: 66.6666666667%}
		&.offset-by-nine{margin-left: 75%;}
		&.offset-by-ten{margin-left: 83.3333333333%;}
		&.offset-by-eleven{margin-left: 91.6666666667%;}
		&.offset-by-twelve{margin-left: 100%;}
		&.right{float:right;}
		

		
		&.nogutter{padding-left:0; padding-right:0;}
		
		&.centered{float:none;margin:0 auto;}

	}
	
}


