//Set all default to 0 

$grid-width: 				1200px;
$gutter-width: 			12px;					

$base-font-size:		16px;
$line-height:				1.4;

$font-family: 			"Helvetica Neue", Arial, Helvetica, sans-serif; 	
$code-font-family: 	monospace;


$title-font-weight:	400;
$H1-font-size: 			2rem;
$H2-font-size: 			1.8rem;
$H3-font-size: 			1.6rem;
$H4-font-size: 			1.4rem;
$H5-font-size: 			1.2rem;
$H6-font-size: 			1rem;

$border-radius: 		3px;

$text-font-size:		1rem;
$form-font-size:		0.9rem;

$color-blue: 				#4fade3;
$color-red: 				#d63632;
$color-green:				#5da423;
$color-grey: 				#ccc;

@import "mixin";
@import "helper";
@import "grid";
@import "typography";
@import "form";
@import "prettify";
@import "button";

*{
	margin: 0;
	padding: 0;
}

body{
	background: #f1f1f1;
}

html{
	font-smooth:always;
	-webkit-font-smoothing:antialiased;
}

ul{
	list-style: none;
	li{
		
	}
}


.twitter-share-button{
	position: fixed;
	z-index: 999999;
	top:20px;
	right:0px;
}

.fb-like,.fb_edge_widget_with_comment{
	position: fixed!important;
	z-index: 999999999;
	right:20px;
	top:50px;
}

.FlattrButton{
	position: fixed;
	z-index: 99999;
	top:80px;
	right:20px;
}

.paypalButton{
	position: fixed;
	z-index: 999999;
	top:107px;
	right:1px;
	height: 27px;
	overflow: hidden;
}



#navigationMap{
	position: fixed;
	right:20px;
	bottom:20px;
	width: 140px;
	height:40px;
	z-index: 999;
}

#navigationMap ul li a{
	background: #aaa;
	height:10px;
	width: 10px;
	border-radius:2px;
	position: fixed;
}

#navigationMap .ascensorLink2, #navigationMap  .ascensorLink3{
	margin-left:30px;
}

#navigationMap .ascensorLink3{
	margin-top: 30px;
}

#navigationMap .ascensorLink4{
	margin-left: 60px;
	margin-top: 30px;
}

#navigationMap .ascensorLink5{
	margin-left: 90px;
	margin-top: 30px;
}

#navigationMap .ascensorLink6{

	margin-left: 90px;
	margin-top: 0;
}

#navigationMap .ascensorLink7{
	margin-left: 90px;
	margin-top: -30px;
}

#navigationMap .ascensorLinkActive{
	background: #333;
}

#navigationMap .ascensorLink:hover{
	background:#444;
}

#navigationMap .ascensorLinkNext{
	position: fixed;
	top:20px;
	left:20px;
}

#navigationMap .ascensorLinkPrev{
	position: fixed;
	top:50px;
	left:20px;
}
