.pln {
	color: #4d4d4c; }

.str {
	color: #718c00; }

.kwd {
	color: #8959a8; }

.com {
	color: #8e908c;
	font-style: italic; }

.typ {
	color: #f5871f; }

.lit {
	color: #eab700; }

.pun {
	color: #4d4d4c; }

.opn {
	color: #4d4d4c; }

.clo {
	color: #4d4d4c; }

.tag {
	color: #c82829; }

.atn {
	color: #eab700; }

.atv {
	color: #3e999f; }

.dec {
	color: #f5871f; }

.var {
	color: #c82829; }

.fun {
	color: #c82829; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
	background-color: #ffffff;
	padding: 5px 10px;
	border: 1px solid #f1f1f1; 
	border-radius: 3px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	color: #8e908c;
	margin: 0 0 0 40px; }

ol.linenums li {
	line-height: 18px;
	padding-left: 12px; }
@media print {
	pre { background-color: none }
	pre .str, code .str { color: #060 }
	pre .kwd, code .kwd { color: #006; font-weight: normal }
	pre .com, code .com { color: #600; font-style: italic }
	pre .typ, code .typ { color: #404; font-weight: normal }
	pre .lit, code .lit { color: #044 }
	pre .pun, code .pun { color: #440 }
	pre .pln, code .pln { color: #000 }
	pre .tag, code .tag { color: #006; font-weight: normal }
	pre .atn, code .atn { color: #404 }
	pre .atv, code .atv { color: #060 }
}