@mixin font-size($font-size:1rem){
	font-size: $font-size;
	//margin-top: $font-size;
	//margin-bottom: $font-size/2;
	line-height: $font-size*$line-height;
}

html{
	font-size: $base-font-size;
	font-family: $font-family;
	line-height: $base-font-size*$line-height;
}

h1{@include font-size($H1-font-size)}
h2{@include font-size($H2-font-size)}
h3{@include font-size($H3-font-size)}
h4{@include font-size($H4-font-size)}
h5{@include font-size($H5-font-size)}
h6{@include font-size($H6-font-size)}

h1,h2,h3,h4,h5,h6{
	font-weight: $title-font-weight;
}

p{@include font-size($text-font-size)}

pre{@include font-size($text-font-size)}
pre{font-family:$code-font-family;}

a{
	color: $color-blue;
	text-decoration: none;
	&:hover{
		color:darken($color-blue, 10%)
	}
	
	&:active, &:visited{
		color:lighten($color-blue, 10%)
	}
}




