a/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* desert scheme ported from vim to google prettify */
pre { display: block; background-color: #333; padding:10px; border-radius:5px;}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: normal }
pre .com { color: #87ceeb; font-style: italic } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: normal } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: normal } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
	pre { background-color: none }
	pre .str, code .str { color: #060 }
	pre .kwd, code .kwd { color: #006; font-weight: normal }
	pre .com, code .com { color: #600; font-style: italic }
	pre .typ, code .typ { color: #404; font-weight: normal }
	pre .lit, code .lit { color: #044 }
	pre .pun, code .pun { color: #440 }
	pre .pln, code .pln { color: #000 }
	pre .tag, code .tag { color: #006; font-weight: normal }
	pre .atn, code .atn { color: #404 }
	pre .atv, code .atv { color: #060 }
}

*{
	font-family: 'Lato', sans-serif;
}



pre, pre span{
	font-size: 14px;
	font-family: monospace,serif;
}

#ascensorBuilding section:first-child article h1{
	font-size: 30px;
}

section{
	overflow:auto;
	box-shadow: inset 0 0 0px 5px rgb(0,0,0);
}

section article{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

#navigationMap{
	position: fixed;
	right:20px;
	bottom:20px;
	width: 140px;
	height:40px;
	z-index: 999;
}

#navigationMap ul li a{
	background: #eee;
	height:10px;
	width: 10px;
	border-radius:2px;
	position: fixed;
}

#navigationMap .ascensorLink2, #navigationMap  .ascensorLink3{
	margin-left:30px;
}

#navigationMap .ascensorLink3{
	margin-top: 30px;
}

#navigationMap .ascensorLink4{
	margin-left: 60px;
}

#navigationMap .ascensorLink5, #navigationMap  .ascensorLink6{
	margin-left: 90px;
}

#navigationMap .ascensorLink6{
	margin-top: -30px;
}

#navigationMap .ascensorLink7{
	margin-left: 120px;
}

#navigationMap .ascensorLinkActive{
	background: #333;
}

#navigationMap .ascensorLink:hover{
	background:#444;
}

#navigationMap .ascensorLinkNext{
	position: fixed;
	top:20px;
	left:20px;
}

#navigationMap .ascensorLinkPrev{
	position: fixed;
	top:50px;
	left:20px;
}


#ascensorFloor1{
	background: #F9B233;	
}

#ascensorFloor2{
	background: #71B5E5;	
}

#ascensorFloor3{
	background: #B3CE4A;	
}

#ascensorFloor4{
	background: #EB5D45;	
}

#ascensorFloor5{
	background: #4AAEB6;	
}

#ascensorFloor6{
	background: #E7DFBF;	
}

#ascensorFloor7{
	background: #CA9E67;	
}



.twitter-share-button{
	position: fixed;
	z-index: 999999;
	top:20px;
	right:0px;
}

.fb-like,.fb_edge_widget_with_comment{
	position: fixed!important;
	z-index: 999999999;
	right:20px;
	top:50px;
}

.FlattrButton{
	position: fixed;
	z-index: 99999;
	top:80px;
	right:20px;
}

.paypalButton{
	position: fixed;
	z-index: 999999;
	top:107px;
	right:1px;
	height: 27px;
	overflow: hidden;
}

@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } 
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}