*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.floor-1{background: #F9B233;}
.floor-1{background: #71B5E5;}
.floor-2{background: #B3CE4A;}
.floor-3{background: #EB5D45;}
.floor-4{background: #4AAEB6;}
.floor-5{background: #E7DFBF;}
.floor-6{background: #CA9E67;}
nav{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#ascensorBuilding{
	overflow: hidden;
}
